.aboutWrapper {
  background-color: blue;
  width: 100%;
  text-align: center;
  margin-top: 100px;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 1025px;
  margin: auto;
  background-color: #ffffff;
}

.aboutName {
  margin-left: 89px;
  margin-top: 55px;
  margin-bottom: 42px;
  text-align: left;

  height: 52px;
  width: 317px;
  color: #2c3e50;
  font-family: Lato;
  font-size: 44px;
  font-weight: bold;
  line-height: 52px;
}

.aboutSection {
  display: flex;
  flex-direction: row;
  margin: 0 auto;

  height: 792px;
  background-color: bisque;
}

.aboutGraphics {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 50%;
  background-color: aqua;
}

.aboutPic {
  margin-left: 96px;
}

.aboutPic img {
  height: 350px;
  width: 350px;
}

.aboutText {
  width: 50%;
}

.picSubtitle {
  height: 68px;
  width: 301px;
  color: #4a4a4a;
  font-family: 'Lato';
  font-size: 25px;
  font-style: italic;
  font-weight: 600;
  line-height: 34px;
  text-align: center;

  margin-left: 121px;
}

.experience {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 358px;
  height: 98px;

  margin-left: 91px;
  margin-top: 41px;
}

.experienceLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}

.experienceTitle {
  height: 22px;
  width: 121.79px;
  color: #2c3e50;
  font-family: 'Lato';
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.experienceText {
  height: 19px;
  width: 94px;
  color: #181818;
  font-family: Lato;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;

  white-space: nowrap;
  text-align: right;
}

.paragraph {
  padding: 0 30px;
  font-weight: 400;
  text-align: left;
  margin-top: 10px;
  font-size: 18px;
}

li {
  list-style: circle;
  text-align: left;
  font-weight: 400;
}

.goalSection {
  margin-top: 80px;
}

.skills {
  margin-top: 40px;
}
.skillRow {
  display: flex;
  flex-direction: row;
}

.skillRow p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 40px;
  background-color: #2d3e50;
  border: 1px solid #2d3e50;
  color: white;
  font-weight: 300;
  border-radius: 5px;
  margin: 10px;
  font-size: 20px;
}

.otherSection {
  margin: 0 auto;

  width: 70%;
  height: 350px;
  background-color: #2d3e50;
  color: white;
  margin-bottom: 30px;
}
.otherWrapper {
  margin: 0 auto;
  margin-top: 2%;
  width: 96%;
  height: 90%;
}
.otherSection h2 {
  margin-left: 5%;
  font-size: 30px;
  text-align: left;
}

.hobbies {
  margin: 0 auto;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.myHobby img {
  height: 150px;
  width: 200px;
}

.myHobby p {
  margin-top: 1px;
  font-size: 20px;
  font-weight: 300;
}

.aboutContact {
  margin: 0 auto;
  margin-top: -30px;
  margin-bottom: 1px;
  width: 70%;
  height: 100px;
  background-color: #ccebff;
  text-align: left;
}

.aboutContact h2 {
  padding-top: 15px;
  margin-left: 6%;
}

.aboutContact p {
  margin-left: 6%;
  font-weight: 300;
}
