.aboutWrapper {
  background-color: blue;
  width: 100%;
  text-align: center;
  margin-top: 100px;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 1025px;
  margin: auto;
  background-color: #ffffff;
}

.aboutName {
  margin-left: 89px;
  margin-top: 55px;
  margin-bottom: 41px;
  text-align: left;

  height: 52px;
  width: 317px;
  color: #2c3e50;
  font-family: Lato;
  font-size: 44px;
  font-weight: bold;
  line-height: 52px;
}

.aboutSection {
  display: flex;
  flex-direction: row;
  margin: 0 auto;

  height: 794px;

  background-color: bisque;
}

.aboutGraphics {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  /* width: 50%; */
  margin-left: 70px;
  background-color: aqua;
}

.aboutPic {
  margin: 0;
  /* margin-left: 70px; */
  margin-bottom: 38px;
}

.picSubtitle {
  height: 68px;
  width: 301px;
  color: #4a4a4a;
  font-family: 'Lato';
  font-size: 25px;
  font-style: italic;
  font-weight: 600;
  line-height: 34px;
  text-align: center;

  /* margin-left: 121px; */
  margin-bottom: 49px;
}

.experience {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 359px;
  height: 95px;

  /* margin-left: 70px; */
  margin-bottom: 35px;
}

.experienceLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}

.experienceTitle {
  height: 19px;
  width: 121.79px;
  color: #2c3e50;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
}

.experienceText {
  height: 19px;
  width: 94px;
  color: #181818;
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;

  white-space: nowrap;
  text-align: right;
}

.characteristics {
  width: 360px;
  height: 155px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  /* margin-left: 70px; */
}

.aboutPillContainer {
  display: flex;
  border-radius: 4px;
  background-color: #2c3e50;

  cursor: pointer;
}

.aboutPillContainer p {
  margin: auto;

  color: #ffffff;
  font-family: 'Lato';
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

li {
  list-style: circle;
  text-align: left;
  font-weight: 400;
}

.otherSection {
  margin: 0 auto;

  width: 70%;
  height: 350px;
  background-color: #2d3e50;
  color: white;
  margin-bottom: 30px;
}
.otherWrapper {
  margin: 0 auto;
  margin-top: 2%;
  width: 96%;
  height: 90%;
}
.otherSection h2 {
  margin-left: 5%;
  font-size: 30px;
  text-align: left;
}

.goalSection {
  margin-top: 80px;
}
.aboutText {
  margin-left: 69px;
  text-align: left;
}

.aboutMe {
  height: 30px;
  width: 108px;
  color: #2c3e50;
  font-family: 'Lato';
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;

  margin-bottom: 12px;
}

.paragraphText {
  height: 456px;
  width: 456px;
  color: #181818;
  font-family: Lato;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-align: justify;
}
.hobbies {
  margin: 0 auto;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.myHobby img {
  height: 150px;
  width: 200px;
}

.myHobby p {
  margin-top: 1px;
  font-size: 20px;
  font-weight: 300;
}

.aboutContact {
  margin: 0 auto;
  margin-top: -30px;
  margin-bottom: 1px;
  width: 70%;
  height: 100px;
  background-color: #ccebff;
  text-align: left;
}

.aboutContact h2 {
  padding-top: 15px;
  margin-left: 6%;
}

.aboutContact p {
  margin-left: 6%;
  font-weight: 300;
}
