.ctaWrapper {
    margin: 0 auto;
    width: 70%;
    margin-top: 30px;
    
}

.ctaContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 500px;
}

.ctaLeftBox {
    padding-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-self: flex-start;
    width: 55%;
}

.ctaLeftBox h1 {
    font-style: 56px;
}

.ctaText {
    width: 50%;
    font-size: 18px;
    font-style: italic;
    text-align: left;
}

.ctaButton {
    cursor: pointer;
    padding-top: 15px;
    font-size: 22px;
    margin-top: 10px;
    width: 40%;
    height: 40px;
    border: 1px solid #A7DCFF;
    border-radius: 5px;
    background-color: #A7DCFF;
}

.ctaRightBox {
    
    width: 45%;
}