.fitStudyWrapper {
  width: 100%;
  text-align: center;
  margin-top: 100px;
  background-color: #000000;
}

.fitStudyContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1025x;
  background-color: #6f777c;
}

.fitStudyContent img {
  display: block;
  width: 1025px;
  max-width: 1025px;
  height: auto;
  margin: auto;
}

.fitStudyOverviewSectionContentWrapper {
  width: 100%;
  text-align: center;
  background-color: #f0f9ff;
}

.fitStudyOverviewSectionContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f0f9ff;
  max-width: 1025px;

  margin: auto;
}
/*
.fitStudyOverviewSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} */

.fitStudyOverviewSectionCaption {
  color: #3d3d3d;
  /* font-family: Lato; */
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  background-color: #eef7fd;

  margin: 50px auto 52px 109px;

  /* text-align: left; */

  /* padding-left: 95px; */
}

.fitStudyOverviewIconsSection {
  display: flex;
  margin: auto;
  align-items: center;
  max-width: 1025px;
  background-color: red;
}

.data-section-header {
  display: flex;
  align-self: flex-start;

  color: #3d3d3d;
  font-family: Lato;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;

  margin: 51px var(--margin-lg) auto var(--margin-lg);
}

.data-section-sub-header {
  display: flex;
  align-self: flex-start;
  text-align: left;

  color: #3d3d3d;
  font-family: Lato;
  font-size: 18px;
  font-style: italic;
  line-height: 22px;

  margin: 2px var(--margin-lg) auto var(--margin-lg);
}

.data-section-paragraph {
  display: flex;
  align-self: flex-start;

  text-align: left;

  margin: 2px var(--margin-lg) auto var(--margin-lg);
}

.data-section-paragraph p {
  color: #3d3d3d;
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;

  margin: 0;
}

.data-section-paragraph ul {
  color: #3d3d3d;
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;

  margin: 12px 0 0 0;
  padding-left: 24px;
}

.data-section-paragraph li {
  margin: 2px 0;
}

b {
  display: inline;
}

.i-analize-what-types {
  height: 100px;
  width: 333px;
  color: #3d3d3d;
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
}

/* revise from here down */

.trainers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: left;
  align-items: center;
  color: white;

  margin: 0px var(--margin-lg) auto var(--margin-lg);
}

.avatarStyle {
  width: 105px;
  height: auto;
}

.trainerBox {
  align-self: flex-start;
  /* margin-top: 5%; */
  margin-left: 14px;
}

.trainerBox h2 {
  color: #fafdff;
  font-family: Lato;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;

  margin: 0;
}

.trainerBox p {
  color: #f0f9ff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;

  margin: 0;
}

.workshop-p1 {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: flex-start;
  text-align: left;
  align-items: flex-end;

  margin: 0px var(--margin-lg) auto var(--margin-lg);
}

.workshop-p1-textbox {
  margin-left: 56px;
}

.workshop-p2 {
  text-align: left;
  margin: 0px var(--margin-lg) auto var(--margin-lg);
}

workshop-p2 > ol {
  margin: 0;
}

.workshop-p2 > img {
  display: flex;
  /* align-self: center; */
  margin: auto;
}

.workshop-p2-list-item {
  color: #3d3d3d;
  font-family: Lato;
  font-size: 16px;
  font-style: italic;
  line-height: 19px;
}
