:root {
  --margin-lg: 109px;
  --max-width: 1025px;
  --navbar-height: 100px;
}

body {
  font-family: 'Lato', 'Helvetica', 'Ubuntu', sans-serif;
  /* font-weight: 100; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fefdfb;
  margin: auto;
  text-align: center;
}

a:visited {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: #3d3d3d;
  font-family: Lato;
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 39px;
}

h2 {
  color: #3d3d3d;
  font-family: Lato;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;

  margin: 0;
}

h3 {
  color: #3d3d3d;
  font-family: Lato;
  font-size: 18px;
  font-style: italic;
  line-height: 22px;
  font-weight: 500;

  margin: 0;
}

p {
  color: #3d3d3d;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;

  margin: 0;
}

figcaption {
  font-family: 'Lato';
  color: #3d3d3d;
  font-weight: 300;
  font-size: 12px;
  font-style: italic;
  line-height: 15px;
}

.section-spacer {
  display: block;
  margin: 25px 0;
}

@media only screen and (max-width: 800px) {
  :root {
    --margin-lg: 20px;
    --navbar-height: 14vw;
  }

  .section-spacer {
    margin: 4vw;
  }
}
