.navWrapper {
  background-color: #fefdfb;
  position: fixed;
  width: 100%;
  text-align: center;
  z-index: 1001;
}

.navContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  height: 100px;
  background-color: #fefdfb;

  max-width: 1025px;
}

.navLogo {
  flex: 1;
  align-self: center;
}
.navLogo a {
  text-decoration: none;
}

.arl {
  text-decoration: none;
  height: 41px;
  width: 91.2px;
  color: #2c3e50;
  font-family: 'American Typewriter';
  font-size: 35px;
  line-height: 41px;
  padding-left: 45px;
}

.navLinks {
  display: flex;
  flex-direction: row;
  padding-right: 45px;
  align-self: center;
  color: #2c3e50;
}

.navLinkText {
  height: 24px;
  width: 73px;
  display: block;
  color: #2c3e50;
  font-family: Lato;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  padding-left: 42px;
  display: inline-block;
}

a {
  text-decoration: none;
  color: #2c3e50;
}
a:visited {
  color: #2c3e50;
}

.navLink {
  text-decoration: none;
  display: inline-block;
  color: #2c3e50;
}

.navLink:visited {
  color: #2c3e50;
}

.navLink::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #ffaf32;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.navLink:hover::after {
  width: 100%;
  background: #ffaf32;
}

.navLinkActive::after {
  display: block;
  width: 100%;
  height: 2px;
  background: #ffaf32;
}
