.navWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    padding: 0 20px;
     
   
    
}

.contentWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    position: fixed;
    background-color: #FEFDFB;
    
    
    
}

.navLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    text-decoration: none;
}

.navLogo a{
    text-decoration: none;
    color: black;
}

.navLogo h2 {
    font-size: 36px;
    font-family: "Lato";
    font-weight: 100;
}

.navLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navLinks a {
    padding: 0 15px;
    font-size: 24px;
    font-family: "Lato";
    font-weight: 400;
    text-decoration: none;
    color: #2C3E50;
    text-decoration: none;
   
}

.navLinks a:hover {
    color: #a0c7e0;
}


.navLogo a:hover {
    color: #a0c7e0;
}