.po-wrapper {
  display: flex;
  width: 100%;
  text-align: center;
  background: linear-gradient(to top, #fff 97px, #f0f9ff 0%);
}

.po-container {
  display: flex;
  flex: 1;
  flex-direction: column;

  max-width: 1025px;
  margin: auto;
  background: linear-gradient(to top, #fff 97px, #f0f9ff 0%);
}

.po-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.po-item p {
  margin: 11px auto auto auto;
  color: #6d7278;
  font-weight: 500;
}

.po-overview-text {
  text-align: left;
  margin: 51px var(--margin-lg) auto var(--margin-lg);
}

.po-overview-text-header {
  color: #3d3d3d;
  font-family: Lato;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
}

.po-overview-text-block {
  margin: 12px auto auto auto;
  color: #3d3d3d;
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
}

.po-overview-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  background-color: white;
  margin: 51px auto auto auto;
  padding: 17px 0px 34px 0px;

  border-radius: 9px;
  background-color: #ffffff;
  box-shadow: 0 4px 41px -33px rgba(48, 52, 54, 0.9);

  width: 505px;

  z-index: 1000;
}

.po-overview-card-left-content {
  display: flex;
  flex-direction: column;
  width: 187px;
}

.po-overview-card-right-content {
  display: flex;
  flex-direction: column;
  width: 187px;
}

.po-overview-card-content-header {
  color: #3d3d3d;
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
}

.po-overview-card-content-text {
  color: #3d3d3d;
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  margin-top: 12px;
}

.design-process {
  margin: auto var(--margin-lg) auto var(--margin-lg);
}
