.selWork {
    margin: 0 auto;
    margin-top: 150px;
    width: 70%;
    
   
}

.selContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.selProjectOne {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.selProjectTwo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-top: 120px;
    margin-bottom: 10px;
    padding-bottom: 40px;
    border-bottom: 1px solid blue;
}


.fitnessBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #6C44DE;
    border-radius: 5px;
    height: 350px;
    width: 500px;
    padding: 0 20px;
    padding-bottom: 20px;
    color: white;
    background-color: #6C44DE;
    margin-left: -200px;
    margin-top: 50px;
    text-align: left;
    font-weight: 100;
}



.airBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #00A699;
    border-radius: 5px;
    height: 350px;
    width: 500px;
    padding: 0 20px;
    padding-bottom: 20px;
    color: white;
    background-color: #00A699;
    margin-right: -200px;
    margin-top: 50px;
    text-align: left;
    font-weight: 100;
}

.fitnessBox a {
    width: 33%;
    height: 30px;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: underline;
}

.airBox a {
    width: 33%;
    height: 30px;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: underline;
}

.otherBoxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 50px;
    margin-top: 2%;
    
}

.otBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 191px;
    width: 267px;
    border: 1px solid blue;
    box-shadow: 1px 1px 15px grey;
    font-size: 24px;
}

